<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>MelonLab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link href="/static/css/mystyle.css" rel="stylesheet">
</head>

<body class="main">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MelonLab</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">目录</a></li>
                <li><a href="">讨论区</a></li>
                <li><a href="">联系方式</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="content-panel">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>Flask + Mongodb + Nginx + Docker + Centos + GitHub搭建CI/CD环境</h3>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <p class="text">新建一个项目，项目结构如下</p>
                            <pre>.
├── compose.yaml
├── flask
│   ├── Dockerfile
│   ├── requirements.txt
│   ├── server.py
│   ├── templates
│   └── static
├── nginx
│   ├── nginx.conf
│   └── log
└── mongodb</pre>
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <p class="text"><code>compose.yaml</code>是docker compose配置文件，由三个容器组成：backend，mongo和web</p>
                            <pre>services:
  web:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/tmp/nginx.conf
      - ./nginx/log:/var/log/nginx
    environment: 
      - FLASK_SERVER_ADDR=backend:9091
    command: /bin/bash -c "envsubst < /tmp/nginx.conf > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'" 
    ports:
      - 80:80
    depends_on:
      - backend

  backend:
    build:
      context: flask
      target: builder
    # flask requires SIGINT to stop gracefully
    # (default stop signal from Compose is SIGTERM)
    stop_signal: SIGINT
    environment:
      - FLASK_SERVER_PORT=9091
    depends_on:
      -  mongo

  mongo:
    image: mongo
    restart: unless-stopped
    environment:
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/null
    volumes:
      - ./mongodb:/data/db</pre>
                            <br/>

                            <br/>
                            <p class="text">backend容器的<code>Dockerfile</code></p>
                            <pre># syntax=docker/dockerfile:1.4
FROM --platform=$BUILDPLATFORM python:3.10-alpine AS builder

WORKDIR /src
COPY requirements.txt /src
RUN --mount=type=cache,target=/root/.cache/pip \
    pip3 install -r requirements.txt

COPY . /src

CMD ["python3", "/src/server.py"]

FROM builder as dev-envs

RUN &lt;&lt;EOF
apk update
apk add git
EOF

RUN &lt;&lt;EOF
addgroup -S docker
adduser -S --shell /bin/bash --ingroup docker vscode
EOF

# install Docker tools (cli, buildx, compose)
COPY --from=gloursdocker/docker / /

CMD ["python3", "/src/server.py"]
</pre>
                            <br/>

                            <br/>
                            <p class="text"><code>requirements.txt</code>是Python的依赖库，根据项目需求增加/删减</p>
                            <pre>Flask==2.1.3
requests==2.28.1
pymongo==4.2.0</pre>
                            <br/>

                            <br/>
                            <p class="text"><code>server.py</code>是整个web应用的入口，负责各种routing以及数据库的连接</p>
                            <pre>from flask import Flask
from flask import render_template
from pymongo import MongoClient

client = MongoClient("mongo:27017")
db = client["Your_DB_Name"]
collection = db["Your_Collection_Name"]

app = Flask(__name__)

@app.route('/')
def index():
    return render_template('index.html')

if __name__ == "__main__":
    app.run(host='0.0.0.0', port=os.environ.get("FLASK_SERVER_PORT", 9090), debug=True)</pre>
                            <br/>

                            <br/>
                            <p class="text"><code>templates</code>是Flask框架默认HTML模板目录</p>
                            <br/>

                            <br/>
                            <p class="text"><code>static</code>是Flask框架默认静态资源(css/img)目录</p>
                            <br/>

                            <br/>
                            <p class="text"><code>nginx/nginx.conf</code>是Nginx的配置文件，使用挂载映射到nginx容器</p>
                            <p class="text"><code>nginx/log</code>是Nginx的日志文件，使用挂载映射到nginx容器</p>
                            <pre>volumes:
      - ./nginx/nginx.conf:/tmp/nginx.conf
      - ./nginx/log:/var/log/nginx</pre>
                            <br/>
                            <p class="text"><code>nginx/nginx.conf</code></p>
                            <pre>server {
  listen 80;
  location / {
    proxy_pass http://$FLASK_SERVER_ADDR;
  }
}</pre>
                            <br/>

                            <br/>
                            <p class="text"><code>mongodb</code>是mongodb的数据存储目录，使用挂载映射到mongo容器</p>
                            <pre>volumes:
      - ./mongodb:/data/db</pre>
                            <br/>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <br/>
                            <p class="text">在本地安装好docker，使用终端进入项目根目录，输入以下命令</p>
                            <pre>docker compose up -d</pre>
                            <img src="static/img/project_cicd/p1.png" class="img-responsive img-rounded">
                            <br/>
                            <p class="text">在浏览器输入<code>localhost</code>localhost，即会显示<code>index.html</code>页面</p>
                            <br/>
                            <p class="text">使用<code>docker ps</code>查看容器运行状态</p>
                            <img src="static/img/project_cicd/p2.png" class="img-responsive img-rounded">
                            <br/>
                            <p class="text">使用<code>docker compose down</code>移除所有容器和Network（注意：需要手动删除backend容器的Image，以便在下次重构时令flask下更改过的内容复制到backend容器中）</p>
                            <img src="static/img/project_cicd/p3.png" class="img-responsive img-rounded">
                            <br/>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <br/>
                            <p class="text">下一步，将整个项目上传到github</p>
                            <br/>
                            <p class="text">Github项目下Settings -> Secrets -> Actions -> New repository secret</p>
                            <p class="text">新建一个secret，名字为“DOCKER_HUB_USERNAME”，值为你的Docker Hub ID</p>
                            <img src="static/img/project_cicd/p4.png" class="img-responsive img-rounded">
                            <br/>
                            <p class="text">登录Docker Hub，选择Setting -> Security -> New Access Tonken</p>
                            <p class="text">新建一个Personal Access Token(PAT)</p>
                            <img src="static/img/project_cicd/p5.png" class="img-responsive img-rounded">
                            <br/>
                            <p class="text">将该Token作为第二个secret加到Github项目中</p>
                            <img src="static/img/project_cicd/p6.png" class="img-responsive img-rounded">
                            <br/>
                            <br/>
                            <p class="text">配置GitHub Actions工作流</p>
                            <p class="text">选择Github项目下的Actions -> New workflow -> set up a workflow yourself</p>
                            <p class="text">新建main.yml</p>
                            <img src="static/img/project_cicd/p8.png" class="img-responsive img-rounded">
                            <br/>
                            <p class="text">它的作用，是在git push的时候，使用flask目录下的Dockerfile构建backend容器，并上传到Docker Hub的Repository</p>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <br/>
                            <p class="text">下一步，在Vultr上新建一个CentOS 7服务器，并安装好docker（请参考<a href="/vpn">这里</a>）</p>
                            <br/>
                            <p class="text">使用“git clone”命令把项目下载到服务器上</p>
                            <br/>
                            <p class="text">因为要从Docker Hub下载backend镜像，所以compose.yaml文件需要修改一下</p>
                            <pre>backend:
    image: melonlove/melonlab
    # flask requires SIGINT to stop gracefully
    # (default stop signal from Compose is SIGTERM)
    stop_signal: SIGINT
    environment:
      - FLASK_SERVER_PORT=9091
    depends_on:
      -  mongo</pre>
                            <br/>
                            <p class="text">在服务器上使用“docker compose up -d”构建并启动项目</p>
                            <img src="static/img/project_cicd/p7.png" class="img-responsive img-rounded">
                            <br/>
                            <p class="text">打开浏览器，输入服务器IP，查看网站是否能够正常访问</p>
                            <br/>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <br/>
                            <h3>END</h3>
                            <br/>
                            <p class="text">参考资料：</p>
                            <p class="text reference"><a href="https://github.com/docker/awesome-compose">https://github.com/docker/awesome-compose</a></p>
                            <p class="text reference"><a href="https://docs.docker.com/language/python/configure-ci-cd/">https://docs.docker.com/language/python/configure-ci-cd/</a></p>
                            <p class="text reference"><a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-flask-with-mongodb-and-docker">https://www.digitalocean.com/community/tutorials/how-to-set-up-flask-with-mongodb-and-docker</a></p>
                            <p class="text reference"><a href="https://flask.palletsprojects.com/en/2.1.x/quickstart/">https://flask.palletsprojects.com/en/2.1.x/quickstart/</a></p>
                            <br/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>