<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>MelonLab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link href="/static/css/mystyle.css" rel="stylesheet">
</head>

<body class="main">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换導航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MelonLab</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="content-panel">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>使用Docker + IPsec + Centos搭建VPN服務器</h3>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <p class="text">首先，需要選擇一個服務器供應商，這裏選擇了Vultr，原因是操作簡單，價格便宜，按時收費</p>
                            <br/>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <p class="text">新增服務器</p>
                            <img src="static/img/project_vpn/p1.png" class="img-responsive img-rounded" style="width:300px;height: 300px;">
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <p class="text">選擇亞洲地區的服務器（延遲低），操作系統選擇CentOS 7 x64</p>
                            <img src="static/img/project_vpn/p2.png" class="img-responsive img-rounded">
                            <br/>
                            <img src="static/img/project_vpn/p3.png" class="img-responsive img-rounded">
                            <br/>
                            <p class="text">選擇好服務器規格後，點擊Deploy Now，然後等待系統安裝和部署，大概5-10分鐘</p>
                            <br/>
                            <p class="text">在Products可以看到新增的服務器，點進去是服務器的詳細信息</p>
                            <img src="static/img/project_vpn/p4.png" class="img-responsive img-rounded">
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <br/>
                            <p class="text">Mac OS可直接在終端使用SSH登錄服務器</p>
                            <img src="static/img/project_vpn/p5.png" class="img-responsive img-rounded">
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <br/>
                            <p class="text">成功登入服務器後，下一步是安裝docker</p>
                            <p class="text">刪除舊版本docker</p>
                            <p class="text">
                                <pre>sudo yum remove docker \
                  docker-client \
                  docker-client-latest \
                  docker-common \
                  docker-latest \
                  docker-latest-logrotate \
                  docker-logrotate \
                  docker-engine</pre>
                            </p>
                            <br/>
                            <p class="text">安裝yum-utils，創建repository</p>
                            <p class="text">
                                <pre>sudo yum install -y yum-utils</pre>
                            </p>
                            <p class="text">
                                <pre>sudo yum-config-manager \
    --add-repo \
    https://download.docker.com/linux/centos/docker-ce.repo</pre>
                            </p>
                            <br/>
                            <p class="text">安裝最新版本的Docker Engine，containerd和Docker Compose</p>
                            <p class="text">
                                <pre>sudo yum install docker-ce docker-ce-cli containerd.io docker-compose-plugin</pre>
                            </p>
                            <br/>
                            <p class="text">啟動docker</p>
                            <p class="text">
                                <pre>sudo systemctl start docker</pre>
                            </p>
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <br/>
                            <p class="text">使用以下命令快速搭建 IPsec VPN 服務器</p>
                                <pre>docker run \
    --name ipsec-vpn-server \
    --restart=always \
    -v ikev2-vpn-data:/etc/ipsec.d \
    -v /lib/modules:/lib/modules:ro \
    -p 500:500/udp \
    -p 4500:4500/udp \
    -d --privileged \
    hwdsl2/ipsec-vpn-server</pre>
                            <br/>
                            <p class="text">配置使用 IKEv2 VPN</p>
                            <p class="text">查看容器的日誌以獲取 IKEv2 配置信息</p>
                            <p class="text">
                                <pre>docker logs ipsec-vpn-server</pre>
                            </p>
                            <br/>
                            <p class="text">將配置文件復製到Docker主機</p>
                            <p class="text">
                                <pre># 查看容器內的 /etc/ipsec.d 目錄的文件
docker exec -it ipsec-vpn-server ls -l /etc/ipsec.d
# 示例：將一個客戶端配置文件從容器復製到 Docker 主機當前目錄
docker cp ipsec-vpn-server:/etc/ipsec.d/vpnclient.p12 ./</pre>
                            </p>
                            <br/>
                            <br/>
                            <p class="text">不同設備下配置 IKEv2 VPN 客戶端</p>
                            <br/>
                            <p class="text">Windows 7, 8, 10 和 11</p>
                            <p class="text">1.將生成的 .p12 文件安全地傳送到你的計算機</p>
                            <p class="text">2.右鍵單擊 ikev2_config_import.cmd 並保存這個輔助腳本到與 .p12 文件相同的文件夾</p>
                            <p class="text">3.右鍵單擊保存的腳本，選擇「屬性」。單擊對話框下方的「解除鎖定」，然後單擊「確定」</p>
                            <p class="text">4.右鍵單擊保存的腳本，選擇「以管理員身份運行」並按提示操作</p>
                            <p class="text">要連接到VPN：單擊系統托盤中的無線/網絡圖標，選擇新的VPN連接，然後單擊「連接」</p>
                            <br/>

                            <p class="text">OS X (macOS)</p>
                            <p class="text">首先，將生成的 .mobileconfig 文件安全地傳送到你的Mac，然後雙擊並按提示操作，以導入為macOS配置描述文件。如果你的Mac運行macOS Big Sur或更新版本，打開系統偏好設置並轉到描述文件部分以完成導入。在完成之後，檢查並確保 "IKEv2 VPN" 顯示在系統偏好設置 -> 描述文件中</p>
                            <p class="text">1.打開系統偏好設置並轉到網絡部分</p>
                            <p class="text">2.選擇與你的VPN服務器IP（或者域名）對應的VPN連接。</p>
                            <p class="text">3.選中「在菜單欄中顯示VPN狀態」復選框</p>
                            <p class="text">4.單擊「連接」</p>
                            <br/>

                            <p class="text">IOS</p>
                            <p class="text">首先，將生成的 .mobileconfig 文件安全地傳送到你的iOS設備，並且導入為iOS配置描述文件，在完成之後，檢查並確保"IKEv2 VPN"顯示在設置 -> 通用 -> VPN與設備管理（或者描述文件）中</p>
                            <p class="text">1.進入設置 -> VPN。選擇與你的VPN服務器IP（或者域名）對應的VPN連接</p>
                            <p class="text">2.啟用VPN連接</p>
                            <br/>

                            <p class="text">Android</p>
                            <p class="text">將生成的 .sswan 文件安全地傳送到你的Android設備</p>
                            <p class="text">1.進入設置 -> VPN。選擇與你的VPN服務器IP（或者域名）對應的VPN連接</p>
                            <p class="text">2.下載並安裝strongSwan VPN客戶端</p>
                            <p class="text">3.啟動strongSwan VPN客戶端</p>
                            <p class="text">4.單擊右上角的「更多選項」菜單，然後單擊「導入VPN配置」</p>
                            <p class="text">5.選擇你從服務器傳送過來的 .sswan 文件</p>
                            <p class="text">6.在「導入VPN配置」屏幕上，單擊「從VPN配置導入證書」，並按提示操作</p>
                            <p class="text">7.在"選擇證書"屏幕上，選擇新的客戶端證書並單擊「選擇」</p>
                            <p class="text">8.單擊「導入」</p>
                            <p class="text">9.單擊新的VPN配置文件以開始連接</p>
                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <br/>
                            <h3>END</h3>
                            <br/>
                            <p class="text">參考資料：</p>
                            <p class="text reference"><a href="https://zhuanlan.zhihu.com/p/144867146">https://zhuanlan.zhihu.com/p/144867146</a></p>
                            <p class="text reference"><a href="https://docs.docker.com/engine/install/centos">https://docs.docker.com/engine/install/centos</a></p>
                            <p class="text reference"><a href="https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/README-zh.md">https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/README-zh.md</a></p>
                            <br/>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</body>

</html>