<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>MelonLab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link href="/static/css/mystyle.css" rel="stylesheet">
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
</head>

<body class="main">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换導航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MelonLab</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="content-panel">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2>數據分析</h2>
                        </div>
                    </div>

                    <div class="row">
                        <br/>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>總共 <strong>367</strong> 間店鋪</h3>
                        </div>
                        <br/>
                    </div>

                    <div class="row">
                        <br/>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>合計 <strong>23232</strong> 條評論</h3>
                        </div>
                        <br/>
                    </div>

                    <div class="row">
                        <br/>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>評論數分布：</h3>
                            {% include 'weddingChart/pie_base.html' %}
                        </div>
                        <br/>
                    </div>

                    <div class="row">
                        <br/>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>評論數前十：</h3>
                            {% include 'weddingChart/rankBar.html' %}
                        </div>
                        <br/>
                    </div>

                    <div class="row">
                        <br/>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>評論詞雲：</h3>
                            {% include 'weddingChart/wordcloud.html' %}
                        </div>
                        <br/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
